.form {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.field {
  border-radius: 6px;
}

.error {
  background-color: red;
}

.noError {
  background-color: limegreen;
}

.users {
  background-color: aquamarine;
}